.DS_Store
build
build/*
*.build
*.pbxuser
*.perspectivev3
Debug/
*.cbTemp
*.cbp.cbTemp
*.cache
*.log
*.status
autom4te.*/*
src/.deps/*.*o
*.log
*.status
config.h
*.xcworkspacedata
*.xcuserstate
*/xcuserdata/*
*.xcuserdatad
